.App {
  text-align: center;
}

.users .user-list {
  list-style: none;
  padding: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  justify-content: space-around;
}

.users .user-list .list {
  margin-bottom: 20px;
  box-shadow: 0px 0px 4px 0px #908a8a;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  max-width: 25%;
  flex: 0 0 25%;
  display: flex;
  flex-wrap: wrap;
}
.users .user-list .list .list-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.view-more {
  display: block;
  width: 100%;
  margin-top: 10px;
}
.view-more a {
  background: #084a08;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 6px;
  margin: 0 auto;
}
.users .user-list .list a {
  text-decoration: none;
}

.detail {
  text-align: center;
}
.user-name h1 {
  color: #0d62bf;
  text-transform: capitalize;
}

.user-image img {
  width: 500px;
}
